.git
.expo
node_modules
**/node_modules
server/dist
*.sqlite
*.sqlite-*
.env
.env*
server/.env
server/.env*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
/assets
/android
/ios
/src
/drizzle
/plugins
